.inlineBlock {
	display:inline-block;
}

.botMar0{
	margin-bottom:0;
}

.topMar0{
	margin-top:0;
}

.shiftRight{
	margin-left:5%;
}

.item{
	margin-top:1vh;
	height:6vh;
	width:50vw;
	position:relative;
	left:50%;
	transform:TranslateX(-50%);
	border:1px solid grey;
}


.expandedDetails{
	display:inline-block;
	margin:0 25%;
	border:1px solid grey;
}

.item h2{
	font-size:100%;
}

.item p{
	font-size:50%;
	width:100%;
	color:grey;
}

.item img{
	height:100%;
}

.right{
	float:right;
}

.top{
	vertical-align:top;
}

.fillY{
	height:100%;
}

.clickable{
	display:inline-block;
	cursor:pointer;
	width:40vw;
}
