.center-text{
	text-align:center;
}

.center{
	margin:inherit auto;
}

.center-fixed{
	position:fixed;
	left:50%;
	transform:translateX(-50%);
}

.half{
	width:50%;
}

.contact-add{
	height:5vh;
	margin-top:1vh;
	
}

.block{
	display:block;
}

.spacing{
	margin:1vh;
}
